[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
telethon = "===1.35.0"
pysocks = "latest"
peewee = "latest"
pyyaml = "latest"
diskcache = "latest"
asyncstdlib = "latest"
colorama = "latest"
text-box-wrapper = "latest"

[requires]
python_version = "3.7"
