name: CI/CD Pipeline

on:
  push:
    branches:
      # - dev.20230419 # debug
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v4
      with:
        fetch-depth: 2

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: 3.12

    - name: Install pipenv
      run: |
        python -m pip install --upgrade pip
        python -m pip install pipenv

    - name: Install dependencies and lock
      run: |
        pipenv install --dev
        pipenv lock

    - name: Create version file
      id: get_version  # 关键：给这个步骤起个名字，后面才能引用
      run: |
        COMMIT_ID=$(git rev-parse --short HEAD)
        # 将版本号存入变量
        VERSION="$(TZ='Asia/Shanghai' date +'%Y%m%d').$COMMIT_ID"
        
        # 写入 python 文件 (保持原有逻辑)
        echo "__version__ = '$VERSION'" > utils/__version__.py
        
        # 输出到 GitHub Actions 的输出变量中
        echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
        
        # 打印一下方便调试
        echo "生成的版本号为: $VERSION"

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          povoma4617/keyword_alert_bot:latest
          povoma4617/keyword_alert_bot:${{ steps.get_version.outputs.VERSION }}